CUSTOMER_JOURNEY_KAFKA_BOOTSTRAP_SERVERS=localhost:19092
CUSTOMER_JOURNEY_KAFKA_TOPIC=customer-events
CUSTOMER_JOURNEY_CLICKHOUSE_HOST=localhost
CUSTOMER_JOURNEY_CLICKHOUSE_PORT=8123
CUSTOMER_JOURNEY_CLICKHOUSE_DATABASE=customer_journey
